<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
     <div class="outer-container item active">
      <img src="/images/batteryos.jpg" alt="...">
      	<div class="inner-container-blue">
		       <div class="col-md-6">
		        <div class="content">
				        <h1>BatteryOS</h1>
				        <p><i>Doubles the life of lithium ion batteries. Tesla will soon be bowing at their toes.</i></p>
				     </div>
		      </div>
		</div>
    </div>
     <div class="outer-container item">
      <img src="/images/unbabel.jpg" alt="...">
      	<div class="inner-container-rose">
		      <div class="col-md-6">
		        <div class="content">
		        	 <h1>Unbabel</h1>
				        <p><i>Translated 6 million words across 6 languages</i></p>
		        </div>
		      </div>
		</div>
    </div>
     <div class="outer-container item">
      <img src="/images/motionsavvy.jpg" alt="...">
      	<div class="inner-container-blue">
		      <div class="col-md-6">
		        <div class="content">
		        	 <h1>MotionSavvy</h1>
				        <p><i>Making it possible for $38 Million deaf to ‘speak outloud’ in real-time.</i></p>
		        </div>
		      </div>
		</div>
    </div>
    <div class="outer-container item">
      <img src="/images/magnises.jpg" alt="...">
      	<div class="inner-container-blue">
		      <div class="col-md-6">
		        <div class="content">
		        	 <h1>Magnises</h1>
				        <p><i>Reimagines the credit card. Apply, acceptance is more stingent than Harvard.</i></p>
		        </div>
		      </div>
		</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>