<div id="outer-outer-container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  	<div class="outer-container item active">
      
     	<div style="background-image:url(/images/wefunderteam.jpg)" class="carousel-background"></div>

      	<div class="inner-container">
		       <div class="col-md-6 col-lg-8">
		        <div class="content">
				        <h1>Wefunder</h1>
				        <p><i>It's been 12 months since the SEC made it legal to invest on Wefunder.</i></p>
				     </div>
		      </div>
		</div>
    </div>

     <div class="outer-container item">

      <div style="background-image:url(/images/batteryos.jpg)" class="carousel-background"></div>

      	<div class="inner-container-yellow">
		       <div class="col-md-6 col-lg-8">
		        <div class="content">
				        <h1>BatteryOS</h1>
				        <p><i>Doubles the life of lithium ion batteries.</i></p>
				     </div>
		      </div>
		</div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>